<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 col-fhd-12 bg-img">
    <div class="row">

      
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="card card-signin">
          <div class="card-body" style="text-align: center;">
            <div class="card-title" style="text-align: center;">
              <img src="../../assets/images/forget_pass.png" style="height: 50px; width: 60px;"><br><br>
              Reset Password !
            </div>
            <br>
            <form class="form-signin" [formGroup]="form">
              <div class="row">
                <div class="col-lg-12" *ngIf="this.userData.rolename === 'Administrator'">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label class="font-10">Login Name </label>
                    <ng-select [(ngModel)]="username1" placeholder="Please Select User Name" formControlName="loginname">
                      <ng-option *ngFor="let user of userList" value="{{user.loginname}}">{{user.loginname}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-lg-12" *ngIf="this.userData.rolename != 'Administrator'">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label class="font-10">Login Name </label>
                      <!-- <input class="form-control form-control-sm" formControlName="user_id" [value]="userData.loginname" readonly /> -->
                    <span class="form-control form-control-sm" formControlName="loginname" readonly>{{userData.loginname}}</span>
                  </div>
                </div>


                <div class="col-md-12 mt-2">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label class="font-10">Current Password <span class="required-asterisk">*</span></label>
                    <input autofocus="true" type="password" class="form-control form-control-sm" formControlName="currentPassword"
                      [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors }" (keydown)="keyPress($event)"
                      required>
                    <div *ngIf="!f['currentPassword'].valid" style="color: red; font-size: 12px; margin-top: 5px;">
                     
                    </div>


                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label class="font-10">New Password <span class="required-asterisk">*</span></label>
                    <input autofocus="true" type="password" class="form-control form-control-sm" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" (keydown)="keyPress($event)"
                      required>
                    <div *ngIf="!f['password'].valid" style="color: red; font-size: 12px; margin-top: 5px;">
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-2">
                  <div class="form-label-group" style="text-align: left; font-family: sans-serif;">
                    <label class="font-10">Re type Password <span class="required-asterisk">*</span></label>
                    <input autofocus="true" #pwd type="password" class="form-control form-control-sm" formControlName="conpassword"
                      [ngClass]="{ 'is-invalid': submitted && f['conpassword'].errors }" (keydown)="keyPress($event)"
                      (input)="keyup(pwd)" required>
                    <div *ngIf="!f['conpassword'].valid" style="color: red; font-size: 12px;">
                   
                    </div>
                    <span style="color:red ; font-size: 12px;" class="pt-2">
                      {{matchpwd}}
                    </span>

                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-3" style="text-align: right;">
                <button class="btn btn-primary btn-sm rounded"
                  [disabled]="(form.invalid)?true:(matchpwd=='Your new password and re-typed password do not match !')?true:false"
                  data-bs-toggle="modal" data-bs-target="#closetask">
                  Reset
                </button>&nbsp;&nbsp;
                <button class="btn btn-danger btn-sm rounded" onClick="history.back()">
                  Cancel
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="col-md-7 col-sm-7 col-xs-7 col-lg-7">
        <img class="logo" src="../../assets/images/login.png">
      </div>


     

    </div>
  </div>


<div appDraggableModal class="modal fade" style="margin-top: 13% !important;" id="closetask" tabindex="-1"
  aria-labelledby="userCreate" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width:80% !important;">
      <div class="modal-body">
        <div class=" draggable mod">
          <h4 style="text-align: center;">Are you certain about your decision to 'Reset' your password?

          </h4>
        </div>
        <div class="content-close">
          <!-- <p>You are changing the password of {{user.first_name}} whose email id is <span class="text-primary">{{user.emailid}}</span>. </p> -->
        </div>
      </div>
      <div class="modal-footer" style="border-bottom: 0px !important;padding-bottom:10px !important; ">
        <button type="button" class="btn btn-danger btn-sm rounded" data-bs-dismiss="modal">Cancel</button>
        <div class="btn btn-outline-primary btn-sm rounded" (click)="onSubmit()" data-bs-dismiss="modal">Yes,Reset</div>
      </div>
    </div>
  </div>
</div>