.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border: 1px solid #e8ebf1d1;
  border-radius: 20px;
  background: #ffffff;
  background-clip: border-box;
}
.card:hover {
  box-shadow: 0px 0px 15px -6px #696969;
  transition: 0.5s;
  border: 1px solid #e8ebf1d1;
  background: linear-gradient(18deg, #f6f8fc93 0%, #f6f8fcc2 50%, #f6f8fc 100%) !important;
  /* background-color: #f6f8fc !important; */
}

.card-signin{
  margin-top: 30px;
  padding: 6px;
    
  }
  .card-title
  {
   
    color:#ff0000;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    padding-top: 4px;
  
  }
  .required-asterisk{
    color:#C03F46;
  }
  .signin-btn{
    width: 160px;
  height: 40px;
  background: #e08b1b;
  border-radius: 5px;
  border-color:  #e08b1b;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  }
  .form-label-group
  {
    font-family: 'Poppins';
  }
  
  
  .can-btn{
    width: 160px;
  height: 40px;
  background: #378ece;
  border-radius: 5px;
  border-color:  #4d4b4b;
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  }
  
  .bg-img{
  overflow-x: hidden  ;
  /* margin-top: 35px; */
  margin-left: 10px;
  height: 84vh;
  background-position-x: center;
  background-size: cover;
  }
  
  .mod{
    cursor: move;
    color: #601f23;
    padding: 5px;
  }
  
  
  #p5{
    font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  
  color: #4A4A4B;
  }
  
  .logo {
    width: 100%;
    height: 480px; /* Stretch the image to fill the container */
  }
  #at{
  position: relative;
  width: 260px;
  height: 31px;
  /* margin-top: -37px; */
  margin-left: 100px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 17px;
  
  color: #4A4A4B;
  }
  
  
  #go{
    position: relative;
    color: white;
    left: 0rem;
    width: auto;
    margin-top: 14rem;
    font-style:Raleway ;
  font-weight: bold;
  font-size: 36px;
  line-height: 20px;
  
  }
  
  
  #managing{
  
    color: white;
    left: 0rem;
    width: auto;
    margin-top: 2rem;
  
    font-style:Raleway ;
    font-weight: normal;
    font-size: 48px;
    line-height: 35px;
  }
  
  #p7{
    margin-left: 0rem;
    margin-top: 3rem;
    width: 250px;
    font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
  
  }
  
  #ad{
    width: 290px;
    height: 32px;
    font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #2A2B2D;
  border: 1.5px solid #5B5B5B;
  box-shadow: #5B5B5B;
  }
  
  #ad:focus {
    background-color: #C03F46;
    color: white;
  }
  
  #ad:active {
    background-color: #C03F46;
    color: white;
  }
  
  #ad:visited {
    background-color: #C03F46;
    color: white;
  }
  
  .btn:hover
  {
  background-image:none;
  background-color:#bf3f47;
  color: white;
  }
  
  .btn:focus {
    background-color: #C03F46;
    color: white;
  }
  
  .btn:active {
    background-color: #C03F46;
    color: white;
  }
  
  .btn:visited {
    background-color: #C03F46;
    color: white;
  }
  
  
  .login-text{
    color: #c03f46;
    text-align: center;
    font-weight:bold;
    /* font-size: 26px;  */
     /* margin-top: -50px; */
     font-family: "Open Sans", sans-serif;
  }
  
  
  
  
  