<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                    <div class="mr-md-3 mr-xl-5">
                        <h4 class="page-title" onclick="goBack()"><i class="mdi mdi-chevron-left mdi-2"></i>User
                            Information</h4>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-wrap">

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="card-title">Company</h3>
                    <hr> -->
                    <div class="row my-10">
                        <div class="col-lg-4">
                            <div class="has-search d-flex align-items-center">
                                <div class="flex-grow-1 position-relative me-2">
                                  <span class="fa fa-search form-control-feedback"></span>
                                  <input type="search" [(ngModel)]="searchText" class="searchbar form-control form-control-sm" placeholder="Search"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="float-right">
                                <button *ngIf="roleData?.permissions?.export ?? false" class="btn btn-primary btn-fw btn-sm me-2" title="Download List of Data in Excel" (click)="download()"> <span class="mdi mdi-upload"></span> Export
                                </button>
                                <button *ngIf="roleData?.permissions?.import ?? false" class="btn btn-primary btn-fw btn-sm me-2" data-bs-toggle="modal"
                                    data-bs-target="#createBulkModal" title="Upload bulk Data">
                                    <span class="mdi mdi-download"></span> Import
                                </button>
                                <button *ngIf="roleData?.permissions?.add ?? false" type="button" data-bs-toggle="modal" data-bs-target="#createModal"
                                    (click)="createForm()" class="btn btn-primary btn-fw btn-sm s"><span
                                        class="mdi mdi-plus"></span> Create</button>
                            </div>
                        </div>
                    </div>
                    <app-responsive-table id="export"> <!-- Coming for sharedComponent/responsive-table -->
                        <thead class="table-primary text-nowrap">
                            <tr>
                                <th>S No</th>
                                <th>Emp ID</th>
                                <th>Name</th>
                                <th>Contact No</th>
                                <th>Email ID</th>
                                <th>Role</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th>Login Name</th>
                                <th>User Type</th>
                                <!-- <th>Status</th> -->
                                <th *ngIf="roleData?.permissions?.edit ?? false || roleData?.permissions?.detail ?? false">Action</th>
                            </tr>
                        </thead>
                        <tbody class="text-nowrap">
                            <tr
                                *ngFor="let a of tabledata | filter: searchText| paginate: { itemsPerPage: limit, currentPage: p }; index as i">
                                <td>{{limit*(p-1)+i+1}}</td>
                                <td>{{a.empid}}</td>
                                <td>{{a.title}} {{a.first_name}} {{a.last_name}}</td>
                                <td>{{a.mobile}}</td>
                                <td>{{a.emailid}}</td>
                                <td>{{a.rolename}}</td>
                                <td>{{a.deptname}}</td>
                                <td>{{a.designationname}}</td>
                                <td>{{a.loginname }}</td>
                                <td>{{a.isemployee == true ? 'Employee' : 'Other' }}</td>
                                <!-- <td>{{a.status}}</td> -->
                                <td *ngIf="roleData?.permissions?.edit ?? false || roleData?.permissions?.detail ?? false">
                                    <a *ngIf="roleData?.permissions?.edit ?? false" data-bs-toggle="modal" data-bs-target="#createModal" (click)="editUser(a)"><span class="mdi mdi-pencil text-secondary cursor-pointer mdi-18px"></span></a>
                                    &nbsp;
                                    <a *ngIf="roleData?.permissions?.detail ?? false" data-bs-toggle="modal" data-bs-target="#detailModal" (click)="userDetail(a)"><span class="mdi mdi-eye text-success cursor-pointer mdi-18px"></span></a>
                                    <!-- &nbsp; -->
                                    <!-- <a data-bs-toggle="modal" data-bs-target="#allDataModal" title="Delete Details" ><span class="mdi mdi-delete-circle text-danger cursor-pointer mdi-18px"></span></a> -->
                                </td>
                            </tr>
                            <tr *ngIf="tabledata?.length == 0">
                                <td colspan="15" class="text-center">
                                    <div class="spinner-border"> </div>
                                </td>
                            </tr>
                            <tr *ngIf="isNotFound == true">
                                <td colspan="15" class="text-center">
                                    <div class="text-warning fw-semibold">Looks like no data available!</div>
                                </td>
                            </tr>
                        </tbody>
                    </app-responsive-table>
                    <div class="pagination-sec text-center">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- create modal -->
<div appDraggableModal class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header draggable">
                <h5 class="modal-title" id="exampleModalLabel">{{ isUpdate ? 'Update User' : 'Create User' }}</h5>
                <button type="button" id="closed" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form" (ngSubmit)="decisionFun()">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Title<span class="required-asterisk">*</span></label>
                                    <select class="form-select form-control-sm" formControlName="usctit_id">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select TItle</option>
                                        <option *ngFor="let user of dropdownData?.title" [value]="user?.usctit_id">
                                            {{user?.title}} </option>
                                    </select>
                                    <div *ngIf="f['usctit_id'].touched && f['usctit_id'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['usctit_id'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">First Name<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="first_name"
                                        appWordCapitalize appAlphabetOnly>
                                    <div *ngIf="f['first_name'].touched && f['first_name'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['first_name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Middle Name</label>
                                    <input type="text" class="form-control form-control-sm"
                                        formControlName="middle_name" appWordCapitalize appAlphabetOnly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Last Name<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="last_name"
                                        appWordCapitalize appAlphabetOnly>
                                    <div *ngIf="f['last_name'].touched && f['last_name'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['last_name'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">User Type<span class="required-asterisk">*</span></label>
                                    <select class=" form-select form-control-sm" formControlName="isemployee"
                                        (change)="isEmployee(f['isemployee'].value)">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Type</option>
                                        <option value="true">Employee</option>
                                        <option value="false">Other</option>
                                    </select>
                                    <div *ngIf="f['isemployee'].touched && f['isemployee'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['isemployee'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <ng-container *ngIf="f['isemployee'].value == 'true'">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Employee ID<span
                                                class="required-asterisk">*</span></label>
                                        <input type="text" class="form-control form-control-sm" formControlName="empid"
                                            appNoSpace [readOnly]="isUpdate">
                                        <div *ngIf="f['empid'].touched && f['empid'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['empid'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">User Role<span
                                                class="required-asterisk">*</span></label>
                                        <select class=" form-select form-control-sm" formControlName="usrl_id">
                                            <option [selected]="true" [disabled]="true" [value]="null">Select Role
                                            </option>
                                            <option *ngFor="let user of dropdownData?.role" [value]="user?.usrl_id">
                                                {{user?.name}} </option>
                                        </select>
                                        <div *ngIf="f['usrl_id'].touched && f['usrl_id'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['usrl_id'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Department<span
                                                class="required-asterisk">*</span></label>
                                        <select class=" form-select form-control-sm" formControlName="usdt_id">
                                            <option [selected]="true" [disabled]="true" [value]="null">Select Department
                                            </option>
                                            <option *ngFor="let user of dropdownData?.department"
                                                [value]="user?.usdt_id"> {{user?.deptname}} </option>
                                        </select>
                                        <div *ngIf="f['usdt_id'].touched && f['usdt_id'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['usdt_id'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-label">Designation<span
                                                class="required-asterisk">*</span></label>
                                        <select class="form-select form-control-sm" formControlName="usdg_id">
                                            <option [selected]="true" [disabled]="true" [value]="null">Select
                                                Designation
                                            </option>
                                            <option *ngFor="let user of dropdownData?.designation"
                                                [value]="user?.usdg_id">
                                                {{user?.designationname}} </option>
                                        </select>
                                        <div *ngIf="f['usdg_id'].touched && f['usdg_id'].invalid">
                                            <small class="text-danger"
                                                *ngIf="f['usdg_id'].errors?.['required']">*Required</small>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Reporting To<span
                                            class="required-asterisk">*</span></label>
                                    <select class=" form-select form-control-sm" formControlName="reporting_to">
                                        <option [selected]="true" [disabled]="true" [value]="null">Select Reporting To
                                        </option>
                                        <option *ngFor="let user of dropdownData?.reportingto"
                                            [value]="user?.reportingto">{{user?.fullname}} </option>
                                    </select>
                                    <div *ngIf="f['reporting_to'].touched && f['reporting_to'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['reporting_to'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Primary Number<span
                                            class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="mobile"
                                        minlength="10" maxlength="10" appNoSpace appNumberOnly>
                                    <div *ngIf="f['mobile'].touched && f['mobile'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['mobile'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Secondary Number</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="res_phone"
                                        minlength="10" maxlength="10" appNoSpace appNumberOnly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Email ID<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="emailid"
                                        pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,3}$" id="emailid">
                                    <div *ngIf="f['emailid'].touched && f['emailid'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['emailid'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="f['isemployee'].value == 'true'">
                                <div class="form-group">
                                    <label class="form-label">Salary<span class="required-asterisk">*</span></label>
                                    <input type="text" class="form-control form-control-sm" formControlName="sallary"
                                        appNumWithDot appNoSpace>
                                    <div *ngIf="f['sallary'].touched && f['sallary'].invalid">
                                        <small class="text-danger"
                                            *ngIf="f['sallary'].errors?.['required']">*Required</small>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-btns">
                                <button type="submit" *ngIf="!isSubmitted" [disabled]="!form.valid"
                                    class="btn btn-primary btn-fw btn-sm me-2">{{isUpdate ? 'Update' :
                                    'Submit'}}</button>
                                <button type="button" *ngIf="isSubmitted" disabled
                                    class="btn btn-primary btn-fw btn-sm mr-2"><span
                                        class="spinner-border spinner-border-sm" aria-hidden="true"></span> {{ isUpdate
                                    ? 'Updating...' : 'Submitting...' }}</button>
                                <button type="button" id="cancel" class="btn btn-secondary btn-fw btn-sm"
                                    data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- create modal end-->

<!-- detail Modal -->
<div appDraggableModal class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header draggable">
                <h5 class="modal-title" id="exampleModalLabel"> User details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="table-responsive" style="min-height: auto">
                            <table class="table table-hover table-striped custom-table table-bordered">
                                <thead class="hidden-thead"></thead>
                                <tbody class="text-nowrap">
                                    <tr>
                                        <th>Employee ID</th>
                                        <td>{{ selectedRow?.empid }}</td>
                                        <th>Employee Name</th>
                                        <td>{{ selectedRow?.title }} {{ selectedRow?.first_name }} {{
                                            selectedRow?.middle_name }} {{ selectedRow?.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email ID</th>
                                        <td>{{ selectedRow?.emailid }}</td>
                                        <th>Primary Number</th>
                                        <td>{{ selectedRow?.mobile }}</td>
                                    </tr>
                                    <tr>
                                        <th>Secondary Number</th>
                                        <td>{{ selectedRow?.res_phone }}</td>
                                        <th>Employee Type</th>
                                        <td>{{ selectedRow?.isemployee == true ? 'Employee' : 'Other' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>{{ selectedRow?.rolename }}</td>
                                        <th>Department</th>
                                        <td>{{ selectedRow?.deptname }}</td>
                                    </tr>
                                    <tr>
                                        <th>Designation</th>
                                        <td>{{ selectedRow?.designationname }}</td>
                                        <th>Reporting To</th>
                                        <td>{{ selectedRow?.reporting_name }}</td>
                                    </tr>
                                    <tr>
                                        <th>Salary</th>
                                        <td>{{ selectedRow?.sallary | currency :'INR':'':'1.0-2' }}</td>
                                        <th>Status</th>
                                        <td>{{ selectedRow?.status }}</td>
                                    </tr>
                                    <tr>
                                        <th>Created Date</th>
                                        <td>{{ selectedRow?.createdtime | date: 'dd/MM/yyyy hh:mm a' : 'GMT' }}</td>
                                        <th>Created By</th>
                                        <td colspan="3">{{ selectedRow?.createdby_name }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- detail Modal -->