<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <hr>
  <ul class="nav scroll-container">
    <!-- <li class="nav-item" >
      <div>
        <a routerLink="/dashboard" class="nav-link" data-toggle="collapse" href="#ui-dashboard" aria-expanded="false"
          aria-controls="ui-dashboard">
          <i class="mdi mdi-view-grid menu-icon" style="color:#a569bd !important"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </div>
    </li> -->

    <li class="nav-item" >
      <a class="nav-link"   data-toggle="collapse" href="#ui-master" aria-expanded="false" aria-controls="ui-master">
        <i class="mdi mdi-briefcase menu-icon"  style="color:#a569bd !important"></i>
        <span class="menu-title">Master</span>
        <i class="menu-arrow"></i>
   
      </a>
      <div class="collapse" id="ui-master">
        <ul class="nav flex-column sub-menu">
    
       

          <li class="nav-item" >
            <div >
              <a class="nav-link" routerLink="/master/newsletter" data-toggle="collapse" aria-expanded="false" aria-controls="Biding">
                <i class="mdi mdi-trending-neutral menu-icon"></i>

                <span class="menu-title "> Newsletter</span>
           
              </a>

            </div>
       
          </li>

          <!-- <li class="nav-item" routerLink="/master/region" > <a class="nav-link" >
            <i class="mdi mdi-trending-neutral menu-icon"></i>

            <span class="menu-title">Region</span>
          </a>
        </li> -->
          <!-- <li class="nav-item" routerLink="/master/hub" > <a class="nav-link" >
            <i class="mdi mdi-trending-neutral menu-icon"></i>

            <span class="menu-title">Hub</span>
          </a>
        </li> -->

        <!-- <li class="nav-item"  routerLink="/master/location" > <a class="nav-link" >
          <i class="mdi mdi-trending-neutral menu-icon"></i>

          <span class="menu-title">Location</span>
        </a>
      </li> -->
      <!-- <li class="nav-item" routerLink="/master/routes" > <a class="nav-link" >
        <i class="mdi mdi-trending-neutral menu-icon"></i>


        <span class="menu-title">Routes</span>
      </a>
    </li> -->
    <!-- <li class="nav-item" routerLink="/master/brands"> <a class="nav-link" >

      <i class="mdi mdi-trending-neutral menu-icon"></i>

      <span class="menu-title">Brands</span>
    </a>
  </li> -->
  <!-- <li class="nav-item" routerLink="/master/category"> <a class="nav-link" >
    <i class="mdi mdi-trending-neutral menu-icon"></i>

    <span class="menu-title">Category</span>
  </a>
</li> -->
  <!-- <li class="nav-item" routerLink="/master/sub-category"> <a class="nav-link" >
    <i class="mdi mdi-trending-neutral menu-icon"></i>

    <span class="menu-title">Sub Category</span>
  </a>
</li> -->
<!-- <li class="nav-item" routerLink="/master/products"> <a class="nav-link" >
  <i class="mdi mdi-trending-neutral menu-icon"></i>

  <span class="menu-title">Product</span>
</a>
</li> -->
<!-- <li class="nav-item" routerLink="/master/banner"> <a class="nav-link" >
  <i class="mdi mdi-trending-neutral menu-icon"></i>

  <span class="menu-title">Banner</span>
</a>
</li> -->

<!-- <li class="nav-item" routerLink="/master/customer"> <a class="nav-link" >
  <i class="mdi mdi-trending-neutral menu-icon"></i>

  <span class="menu-title">Customers</span>
</a>
</li> -->
<!-- <li class="nav-item" routerLink="/master/rider"> <a class="nav-link" >
  <i class="mdi mdi-trending-neutral menu-icon"></i>

  <span class="menu-title">Rider</span>
</a>
</li> -->
<!-- <li class="nav-item" > 
      <div>
        <a class="nav-link" data-toggle="collapse" href="#Bid-Procurement" aria-expanded="false"
        aria-controls="Biding">
        <i class="mdi mdi-book-open menu-icon"></i>
        <span class="menu-title">Coupons & Offers</span>
        <i class="menu-arrow"></i>
      </a>
      </div>
      <div class="collapse" id="Bid-Procurement">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item sub-sub-menu" > <a class="nav-link">
              <i class="mdi mdi-barcode menu-icon"></i>
              <span class="menu-title">Promo Codes</span>
            </a></li>
            <li class="nav-item sub-sub-menu" > <a class="nav-link">
              <i class="mdi mdi-barcode-scan menu-icon"></i>
              <span class="menu-title">Offers</span>
            </a></li>
         
        </ul>
      </div>
</li> -->
       
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#reports" aria-expanded="false"
        aria-controls="reports">
        <i class="mdi mdi-chart-bar menu-icon"></i>
        <span class="menu-title">Reports</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="reports">
        <ul class="nav flex-column sub-menu">
          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/wallet-ledger">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Wallet Ledger</span>
            </a>
          </li> -->
          <li class="nav-item sub-menu" > 
            <a class="nav-link" routerLink="/reports/send-mailer">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Send Mailer</span>
            </a>
          </li>
          <li class="nav-item sub-menu" > 
            <a class="nav-link" routerLink="/reports/activity-logs">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Activity Logs</span>
            </a>
          </li>
          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/customer-wallet">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Customer Wallet</span>
            </a>
          </li> -->
          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/customer-orders">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Customer Orders</span>
            </a>
          </li> -->
          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/rider-delivery-report">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Rider Delivery</span>
            </a>
          </li> -->
          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/customer-sales">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Customer Sales</span>
            </a>
          </li> -->
          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/promoter-performance">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Promoter Performance</span>
            </a>
          </li> -->
          <!-- <li class="nav-item" > 
            <div>
              <a class="nav-link" data-toggle="collapse" href="#deliveries" aria-expanded="false"
              aria-controls="sub">
              <i class="mdi mdi-book-open menu-icon"></i>
              <span class="menu-title">Deliveries</span>
              <i class="menu-arrow"></i>
            </a>
            </div>
            <div class="collapse" id="deliveries">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="/reports/deliveries/hourly-delivery">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Hourly Deliveries</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="/reports/deliveries/fulfilled-delivery">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Fulfilled Deliveries</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="/reports/deliveries/complaints-delivery">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Delivery Complaints</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="/reports/deliveries/riderwise-delivery">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Riderwise Delivery</span>
                  </a>
                </li>
                
               
              </ul>
            </div>
          </li> -->
          <!-- <li class="nav-item" > 
            <div>
              <a class="nav-link" data-toggle="collapse" href="#sub" aria-expanded="false"
              aria-controls="sub">
              <i class="mdi mdi-book-open menu-icon"></i>
              <span class="menu-title">Subscriptions</span>
              <i class="menu-arrow"></i>
            </a>
            </div>
            <div class="collapse" id="sub">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="reports/subscription/subscription">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Subscription</span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="reports/subscription/daywise-subscription">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Day wise Subscription</span>
                  </a>
                </li>
               
              </ul>
            </div>
          </li> -->

          <!-- <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/cust-wallet-orders">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Customer Wallet Wrt Order</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/daywise-cumulative-sales">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Daywise Cumulative Sales</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/future-order-report">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Future Order</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/customer-calling">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Customer Calling</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/vacation-report">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Vacation Report</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/razorpay-report">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">RazorPay Report</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/assign-promocode">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Assign Promo Code</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/customer-lifecycle">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Customer Lifecycle</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/mis-report">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">MIS Report</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/wallet-report">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Wallet Report</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/retention">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Retention Report</span>
            </a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" routerLink="/reports/order-statistics">
              <i class="mdi mdi-trending-neutral menu-icon"></i>
              <span class="menu-title">Order Statistics</span>
            </a>
          </li> -->
          <!-- <li class="nav-item" > 
            <div>
              <a class="nav-link" data-toggle="collapse" href="#exceptional" aria-expanded="false"
              aria-controls="sub">
              <i class="mdi mdi-book-open menu-icon"></i>
              <span class="menu-title">Exceptional Reports</span>
              <i class="menu-arrow"></i>
            </a>
            </div>
            <div class="collapse" id="exceptional">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="/reports/exceptional/customer-without-rider">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Customer Without Rider </span>
                  </a>
                </li>
                <li class="nav-item sub-sub-menu" > 
                  <a class="nav-link" routerLink="/reports/exceptional/routes-without-rider">
                    <i class="mdi mdi-barcode menu-icon"></i>
                    <span class="menu-title">Routes Without Rider </span>
                  </a>
                </li>
                
               
              </ul>
            </div>
          </li> -->
        </ul>
      </div>
    </li>
    <!-- <li class="nav-item" *ngIf="roleMain?.userManagement?.permissions?.link ?? true">
      <a class="nav-link" data-toggle="collapse" href="#userManagement" aria-expanded="false"
        aria-controls="userManagement">
        <i class="mdi mdi-account-circle menu-icon"></i>
        <span class="menu-title">User Management</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="userManagement">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngIf="roleInnerSubUser?.user?.permissions?.link ?? true"> <a class="nav-link" routerLink="/user-management/user-master">
              <i class="mdi mdi-account-check menu-icon"></i>
              <span class="menu-title">User</span>
            </a></li>
          <li class="nav-item" *ngIf="roleInnerSubUser?.userLogs?.permissions?.link ?? true"> <a class="nav-link" routerLink="/user-management/user-logs">
              <i class="mdi mdi-account-card-details menu-icon"></i>
              <span class="menu-title">User Logs</span>
            </a></li>
          <li class="nav-item" *ngIf="roleInnerSubUser?.userRoles?.permissions?.link ?? true"> <a class="nav-link" routerLink="/user-management/user-roles">
              <i class="mdi mdi-account-multiple-plus menu-icon"></i>
              <span class="menu-title">User Roles</span>
            </a></li>
        </ul>
      </div>
    </li> -->


 
  </ul>
</nav>
