<!-- <div class="container-fluid page-body-wrapper full-page-wrapper ">
  <div class="content-wrapper d-flex align-items-center auth px-0 login_bg">
    <div class="row w-100">
      <div class="col-lg-7 col-md-7 p-0 s-size d-flex">
        <div class="row px-sm-5">
          <h1 class="ms-5 p-2 box-1-header display-1" style="position: relative;">Business <br> &nbsp;&nbsp;&nbsp;&nbsp;Process <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Automation</h1>
          <br>
          <p style="margin-left: 8vh;font-size: 12px; font-family:'Times New Roman', Times, serif; color:#faa019;">Empowering the future with AI, automation, and technology.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="auth-form-light login-shadow text-left py-5 px-4 px-sm-5 ">
          <div class="text-center" style="margin-bottom: 1rem;">
            <img src="../../../assets/images/new_Gepdec_logo.png" class="logo-image" alt="logo" style="width: 85%;">
          </div>
          <h3 style="text-align: center; font-family:'Times New Roman', Times, serif; color:#faa019;">Welcome</h3>
          <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
            <div class="form-group">
              <label class="fl-10">Username</label>
              <div class="input-group">
                <span class="input-group-text form-control-sm" style="border-radius: 16px 0 0 16px" id="loginName"><i class="mdi mdi-account" style="font-size: 20px;"></i></span>
                <input type="text" formControlName="loginName" class="form-control form-control-sm login-input" style="border-radius: 0 16px 16px 0;color: white;" placeholder="Enter Username" aria-label="loginName" aria-describedby="loginName">
              </div>
              <div *ngIf="f['loginName'].touched && f['loginName'].invalid">
                <small class="text-danger" *ngIf="f['loginName'].errors?.['required']">Username is Required</small>
              </div>
            </div>
            <div class="form-group">
              <label class="fl-10">Password</label>
              <div class="input-group">
                <span class="input-group-text form-control-sm" style="border-radius: 16px 0 0 16px" id="Password"><i class="mdi mdi-lock" style="font-size: 20px;"></i></span>
                <input type="password" formControlName="password" class="form-control form-control-sm login-input" style="border-radius: 0 16px 16px 0;color: white;" placeholder="Enter Password" aria-label="loginName" aria-describedby="Password">
              </div>
              <div *ngIf="f['password'].touched && f['password'].invalid">
                <small class="text-danger" *ngIf="f['password'].errors?.['required']">password is Required</small>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-6">
                <button type="submit" *ngIf='!loading' class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn" [disabled]="!loginForm.valid">Log In</button>
                <button type="button" *ngIf='loading' disabled class="btn btn-block btn-primary btn-sm font-weight-medium auth-form-btn"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Logging&nbsp;in...</button>
              </div>
              <div class="col-6">
                <div class="d-flex float-right mt-2">
                  <div class="form-check m-0"></div>
                  <a href="javascript:void(0)" style="font-size: 12px;color: #faa019;">Forgot password?</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-1 col-md-1"></div>
    </div>
  </div>
</div> -->
<div class="container-fluid page-body-wrapper full-page-wrapper pSpace" style="height: 100vh;overflow: scroll;">

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-7 col-12">
          <!-- <div class="card " style="background-color:#a569bd;height: 500px; width: 100% !important ; "> -->
          <div class="card " style="background-color:#f7f9fc; width: 100%;">
            <!-- <div class="card-header" style="border:none !important;text-align: center;">
                          <h4 style="font-family: 'Poppins' !important;font-weight: 600;color:white" (click)="proceedLogin()">Simplfy Your business with our CRM</h4>
                      </div> -->
            <div class="card-body">
              <img class="img-fluid" src="../../../assets/images/newsletter-login.webp">
              <!-- <div style="width:80%;margin:-50px auto;height: 400px;">
                              <img style="width:100%;height: 100%;;" src="../../../assets/images/newsletter-login.webp">

                          </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12">


          <form class="login-form" style="font-family: 'Poppins' !important;" [formGroup]="loginForm">
            <div class="logo-login text-center">
              <img src="../../../assets/images/ATlogo.png" class="img-fluid">

            </div>
            <div class="mt-4">
              <!-- <img src="../../assets/logo.png" style="width:100%;height: 100%;"> -->
              <h4 class="text-center" style="font-family: 'Poppins';font-weight: 400px;font-size: 18px;">Welcome To
                Augtrans</h4>
            </div>
            <!-- <div class="form-group" style="width:350px">
                        <label for="exampleInputEmail">Company</label>
                        <select  formControlName="company" class="form-select form-select-sm">
                          <option [selected]="true">Select Company</option>
                          <option value="flipKart">FlipKart</option>
                          <option value="NIKE">Nike</option>
                      </select>
                      </div> -->
            <div class="form-group">
              <label for="exampleInputEmail">Username</label>
              <input placeholder="Enter user name" style="background-color: #f4f6f6;" formControlName="loginName"
                type="text" class="form-control form-control-md">
              <!-- <div *ngIf="f['company_name'].touched && f['company_name'].invalid">
                              <small class="text-danger"
                                  *ngIf="f['company_name'].errors?.['required']">*Required</small>
                          </div> -->
            </div>
            <div class="form-group mt-4">
              <label class="fl-10">Password</label>

              <input placeholder="Password" style="background-color: #f4f6f6;" formControlName="password"
                type="password" class="form-control form-control-md">
              <!-- <div *ngIf="f['company_name'].touched && f['company_name'].invalid">
                              <small class="text-danger"
                                  *ngIf="f['company_name'].errors?.['required']">*Required</small>
                          </div> -->
            </div>


            <div>
              <!-- <button style="float: right;" class="btn btn-primary">Login </button> -->
              <span class="text-right mt-1" style="float: right;color:blue;text-decoration: underline;">Forgot
                Password?</span>
            </div>

            <div style="clear: both;"></div>
            <div class="form-group mt-1">
              <button (click)="proceedLogin()" style="float: right;padding-left:20px;padding-right: 20px;"
                class="btn btn-primary btn-sm mt-2">Login </button>

            </div>

          </form>

        </div>
      </div>
      <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
    </div>
  </div>

</div>