<div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showModal}"
    [ngStyle]="{'display': showModal ? 'block' : 'none'}" aria-labelledby="confirmModalLabel" aria-hidden="true"
    appDraggableModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header draggable">
                <h5 class="modal-title" id="confirmModalLabel">{{title}}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="onCancel()"></button>
            </div>
            <div class="modal-body p-3">
                <span class="mdi mdi-alert-circle-outline"></span> {{message}}
            </div>
            <div class="modal-btns p-3">
                <button type="button" class="btn btn-secondary btn-fw btn-sm mr-2" (click)="onCancel()">Cancel</button>
                <button type="button" class="btn btn-light btn-fw btn-sm " (click)="onConfirm()" [disabled]="loader">
                    <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="loader"></span>
                    {{buttonText}}</button>

            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop" [ngClass]="{'show': showModal}" *ngIf="showModal"></div>