<div class="content-wrapper">

    <!-- <div class="row">
      <div class="col-md-12">
          <form action="">
            <div class="d-flex float-right">
                <div class="col-md-3">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Country:</label>
                    <div class="col-sm-8">
                        <select class="form-select form-select-sm">
                            <option>India</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">State:</label>
                    <div class="col-sm-8">
                        <select class="form-select form-select-sm">
                            <option>All</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">ECB:</label>
                    <div class="col-sm-8">
                        <select class="form-select form-select-sm">
                            <option>All</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                    <label class="col-sm-4 col-form-label">District:</label>
                    <div class="col-sm-8">
                        <select class="form-select form-select-sm">
                            <option>All</option>
                        </select>
                    </div>
                    </div>
                </div>
            </div>
          </form>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
          <div class="banner-sec">
            <div class="banner-overlay">
            <img class="img-fluid banner" src="../../assets/images/banner1.jpg" alt="">
            </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <!-- <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="banner-container mb-2">
                <img src="../../assets/images/banner1.png" class="img-fluid banner" alt="">
                <div class="overlay"></div>
                
              </div>
                  </div>
            <div class="carousel-item">
              <div class="banner-container mb-2">
                <img src="../../assets/images/banner1.jpg" class="img-fluid banner" alt="">
                <div class="overlay"></div>
                
              </div>      
                </div>
                <div class="carousel-item">
                  <div class="banner-container mb-2">
                    <img src="../../assets/images/banner2.jpg" class="img-fluid banner" alt="">
                    <div class="overlay"></div>
                    
                  </div>      
                    </div>
                    <div class="carousel-item">
                      <div class="banner-container mb-2">
                        <img src="../../assets/images/banner4.jpg" class="img-fluid banner" alt="">
                        <div class="overlay"></div>
                        
                      </div>      
                        </div>
           
         
          </div> -->
  
          <div class="carousel-inner">
            <div *ngFor="let banner of bannerData; let i = index" class="carousel-item {{ i === 0 ? 'active' : '' }}">
              <!-- <div *ngIf="banner.appType === 'web'">
                {{ banner.image}}
              </div> -->
              <!-- added this condition: *ngIf="banner.appType === 'web'" -->
              <div class="banner-container mb-2" *ngIf="banner.appType === 'web'">
                <img [src]="banner.appType === 'web' ? getImageUrl(banner.image) : getDefaultImage(i)" class="img-fluid banner" alt="">
                <div class="overlay"></div>
              </div>
            </div>
          </div>
          <!-- Add carousel indicators -->
          <!-- <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2"></li>
            <li data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="3"></li>
          </ol> -->
          <ol class="carousel-indicators">
            <li *ngFor="let banner of bannerData; let i = index" data-bs-target="#carouselExampleSlidesOnly" [attr.data-bs-slide-to]="i" [class.active]="i === 0"></li>
          </ol>
      </div>
       
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-md-12 grid-margin stretch-card">
      
        <div class="card tile-main">
         
          <div class="card-body dashboard-tabs p-0">
            <!-- <ul class="nav nav-tabs px-4" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="preference-tab" data-toggle="tab" href="#preference" role="tab" aria-controls="preference" aria-selected="false">Preference</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="duration-tab" data-toggle="tab" href="#duration" role="tab" aria-controls="duration" aria-selected="false">Duration</a>
              </li>
            </ul> -->
            <div class="tab-content py-0 px-0"> 
              <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                <div class="d-flex flex-wrap justify-content-xl-between">
                  <!-- <div class="d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                    <i class="mdi mdi-calendar-heart icon-lg mr-3 text-primary"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Start date</small>
                      <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none font-weight-medium" href="#" role="button" id="dropdownMenuLinkA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <h5 class="mb-0 d-inline-block">26 Jul 2023</h5>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkA">
                          <a class="dropdown-item" href="#">12 Aug 2023</a>
                          <a class="dropdown-item" href="#">22 Sep 2023</a>
                          <a class="dropdown-item" href="#">21 Oct 2023</a>
                        </div>
                      </div>
                    </div>
                  </div> -->
  
                  <!-- <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 me-1 item t-1">
                    <i class="mdi mdi-account-multiple mr-3 icon-lg text-secondary"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Total Customer</small>
                      <h5 class="mr-2 mb-0">77545</h5>
                    </div>
                  </div> -->
  
                  <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-1">
                    <!-- <i class="mdi mdi-account-multiple mr-3 icon-lg text-secondary"></i> -->
                    <div class="d-flex flex-column justify-content-around">
                      <small class="text-light text-center t-heading py-2">CUSTOMERS <small>(NOS)</small></small>
                      <div class="d-flex text-center">
                        <div class="tile-box col-lg-4 py-2" style="background: #315CA4;cursor: default;">
                          <!-- (click)="getCustomersTotal()" -->
                          <!-- <h5 class="m-1 text-light text-sm">{{dataList?.tileData[0]?.customerTotalCount}}</h5> -->
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.customerTotalCount !== null ? dataList?.tileData[0]?.customerTotalCount : 0 }}</h5>
                          <small class="text-light">Total</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #4676C6;" (click)="getCustomersLastMonth()">
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.customerLastMonthCount !== null ? dataList?.tileData[0]?.customerLastMonthCount : 0 }}</h5>
                          <small class="text-light">LM</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #6093E8;" (click)="getCustomersMTD()">
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.customerCurrentMonthCount !== null ? dataList?.tileData[0]?.customerCurrentMonthCount : 0 }}</h5>
                          <small class="text-light">MTD</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-2">
                    <div class="d-flex flex-column justify-content-around">
                      <small class="text-light text-center t-heading py-2">VOLUME/ORDERS <small>(NOS)</small></small>
                      <div class="d-flex text-center">
                        <div class="tile-box col-lg-4 py-2" style="background: #9968b5;cursor: default;">
                          <!-- (click)="getOrdersTotal()" -->
                          <!-- <h5 class="m-1 text-light text-sm">{{dataList?.tileData[0]?.ordersTotalCount}}</h5> -->
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.ordersTotalCount !== null ? dataList?.tileData[0]?.ordersTotalCount : 0 }}</h5>
                          <small class="text-light">Total</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #b47fd2;" (click)="getOrdersLastMonth()">
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.ordersLastMonthCount !== null ? dataList?.tileData[0]?.ordersLastMonthCount : 0 }}</h5>
                          <small class="text-light">LM</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #cf97ef;" (click)="getOrdersMTD()">
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.ordersCurrentMonthCount !== null ? dataList?.tileData[0]?.ordersCurrentMonthCount : 0 }}</h5>
                          <small class="text-light">MTD</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-3">
                    <!-- <i class="mdi mdi-infinity mr-3 icon-lg text-danger"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Total Outstanding</small>
                      <h5 class="mr-2 mb-0">₹17,83 Cr.</h5>
                    </div> -->
                    <div class="d-flex flex-column justify-content-around">
                      <small class="text-light text-center t-heading py-2">REVENUE <small>(INR LACS)</small></small>
                      <div class="d-flex text-center">
                        <div class="tile-box col-lg-4 py-2" style="background: #FFA333;cursor: default;">
                          <!-- (click)="getRevenueTotal()" -->
                          <h5 class="m-1 text-light text-sm">{{dataList?.tileData[0]?.revenueTotalCount | currency:'INR':'symbol':'1.2-2'}}</h5>
                          <small class="text-light">Total</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #FFB761;" (click)="getRevenueLastMonth()">
                          <h5 class="m-1 text-light text-sm">{{dataList?.tileData[0]?.revenueLastMonthCount | currency:'INR':'symbol':'1.2-2'}}</h5>
                          <small class="text-light">LM</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #FFCC8F;" (click)="getRevenueMTD()">
                          <h5 class="m-1 text-light text-sm">{{dataList?.tileData[0]?.revenueCurrentMonthCount | currency:'INR':'symbol':'1.2-2'}}</h5>
                          <small class="text-light">MTD</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="border-md-right flex-grow-1 align-items-center justify-content-center item t-4">
                    <!-- <i class="mdi mdi-ticket-account mr-3 icon-lg text-success"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Total Tickets</small>
                      <h5 class="mr-2 mb-0">7843</h5>
                    </div> -->
                    <div class="d-flex flex-column justify-content-around">
                      <small class="text-light text-center t-heading py-2">TICKETS <small>(NOS)</small></small>
                      <div class="d-flex text-center">
                        <div class="tile-box col-lg-4 py-2" style="background: #56BAFF;cursor: default;">
                          <!-- (click)="getTicketsTotal()" -->
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.ticketTotalCount !== null ? dataList?.tileData[0]?.ticketTotalCount : 0 }}</h5>
                          <small class="text-light">Total</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #7CC9FF;" (click)="getTicketsLastMonth()">
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.ticketLastMonthCount !== null ? dataList?.tileData[0]?.ticketLastMonthCount : 0 }}</h5>
                          <small class="text-light">LM</small>
                        </div>
                        <div class="tile-box col-lg-4 py-2" style="background: #A2D9FF;" (click)="getTicketsMTD()">
                          <h5 class="m-1 text-light text-sm">{{ dataList?.tileData[0]?.ticketCurrentMonthCount !== null ? dataList?.tileData[0]?.ticketCurrentMonthCount : 0 }}</h5>
                          <small class="text-light">MTD</small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="tab-pane fade" id="preference" role="tabpanel" aria-labelledby="preference-tab">
                <div class="d-flex flex-wrap justify-content-xl-between t-background-2">
                  <div class="d-xl-flex border-md-right flex-grow-1 align-items-center justify-content-center pt-3 pb-1 item">
                    <div class="d-flex flex-column justify-content-around align-items-center">
                      <form>
                        <div class="d-flex">
                          <i class="mdi mdi-source-branch mdi-36px mr-2" style="color: #315CA4;"></i>
                          <div class="form-group position-relative">
                            <small class="mb-1 label-under-border" style="background-color: #7dbaf4;">Meter Type</small>
                            <select class="form-select form-select-sm bg-transparent text-dark shadow-none font-weight-medium border border-secondary">
                              <option>ALL</option>
                              <option>Electricity</option>
                            </select>
                          </div>
                          <i class="mdi mdi-power-plug mdi-36px mr-2 ml-4" style="color: #9968b5;"></i>
                          <div class="form-group position-relative">
                            <small class="mb-1 label-under-border" style="background-color: #99c5ed;">Meter Phase</small>
                            <select class="form-select form-select-sm bg-transparent text-dark shadow-none font-weight-medium border border-secondary">
                              <option>ALL</option>
                              <option>Phase 1</option>
                              <option>Phase 3</option>
                            </select>
                          </div>
                          <i class="mdi mdi-file-tree mdi-36px mr-2 ml-4" style="color: #FFA333;"></i>
                          <div class="form-group position-relative">
                            <small class="mb-1 label-under-border" style="background-color: #a9cbe9;">Segments</small>
                            <select class="form-select form-select-sm bg-transparent text-dark shadow-none font-weight-medium border border-secondary">
                              <option>ALL</option>
                              <option *ngFor="let s of segmentData">{{ s.name }}</option>
                            </select>
                          </div>
                          <i class="mdi mdi-filter mdi-36px mr-2 ml-4" style="color: #56BAFF;"></i>
                          <div class="form-group position-relative">
                            <small class="mb-1 label-under-border" style="background-color: #bcd3e4;">Duration</small>
                            <select class="form-select form-select-sm bg-transparent text-dark shadow-none font-weight-medium border border-secondary">
                              <option [value]="d" *ngFor="let d of fiveYear">{{ d }}</option>
                            </select>
                          </div>
                        </div>
                      </form>
                      
                      <!-- <small class="mb-1 text-muted">Segments</small>
                      <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle p-0 bg-transparent border-0 text-dark shadow-none font-weight-medium" href="#" role="button" id="dropdownMenuLinkA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <h5 class="mb-0 d-inline-block">26 Jul 2023</h5>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLinkA">
                          <a class="dropdown-item" href="#">12 Aug 2023</a>
                          <a class="dropdown-item" href="#">22 Sep 2023</a>
                          <a class="dropdown-item" href="#">21 Oct 2023</a>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <!-- <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                    <i class="mdi mdi-coins mr-3 icon-lg text-success"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Total Revenue</small>
                      <h5 class="mr-2 mb-0">₹22,337 Cr.</h5>
                    </div>
                  </div>
                  <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                    <i class="mdi mdi-arrow-down mr-3 icon-lg text-success"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">This Month Revenue</small>
                      <h5 class="mr-2 mb-0">₹3,550 Cr.</h5>
                    </div>
                  </div>
                  <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                    <i class="mdi mdi-checkbox-marked-circle-outline mr-3 icon-lg text-danger"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Last Month Revenue</small>
                      <h5 class="mr-2 mb-0">₹3,445 Cr.</h5>
                    </div>
                  </div>
                  <div class="d-flex py-3 border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                    <i class="mdi mdi-flag mr-3 icon-lg text-danger"></i>
                    <div class="d-flex flex-column justify-content-around">
                      <small class="mb-1 text-muted">Last 6 Month Revenue</small>
                      <h5 class="mr-2 mb-0">₹12,843 Cr.</h5>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-2">
      <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Customer <small>(NOS)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
            </div>
            <div *ngIf="!loading && customerBar.length === 0" class="text-center">
              <p class="text-warning">Looks like no data available!</p>
            </div>
            <ngx-charts-bar-vertical-2d
              [view]="[containerRef.offsetWidth, 190]"
              [scheme]="mainColorScheme"
              [results]="customerBar"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBar"
              [yAxisLabel]="yAxisLabelBar"
              [barPadding]="5"
              (select)="onCustomerBarSelect($event)"
              [groupPadding]="7">
              
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank box2"></i> This Year</li>
            </ul>
            
          </div>
        </div>
      </div>
      <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Customer Segment <small>(NOS)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef2>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && custoSegmentData.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <ngx-charts-pie-chart
                [view]="[containerRef2.offsetWidth - 30, 220]"
                [scheme]="pieColorsCust"
                [labels]="showLabelsPie"
                [gradient]="true"
                [legend]="true"
                [results]="custoSegmentData"
                (select)="onPieChartSelect($event)">
                <!-- [results]="pieDataCust" -->
              </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-2">
      <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Volume/Orders <small>(NOS)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef3>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && orderSegmentData.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <ngx-charts-pie-chart
              [view]="[containerRef3.offsetWidth - 35, 220]"
              [scheme]="colorSchemeLoad"
              [labels]="showLabelsPie"
              [doughnut]="true"
              [gradient]="true"
              [legend]="true"
              [results]="orderSegmentData"
              (select)="onOrderSegSelect($event)">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
      <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Volume/Orders <small>(NOS)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef4>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && orderBar.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <ngx-charts-bar-vertical-2d
              [view]="[containerRef4.offsetWidth, 190]"
              [scheme]="colorSchemeLoad"
              [results]="orderBar"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelBarLoad"
              [yAxisLabel]="yAxisLabelBarLoad"
              [barPadding]="5"
              [groupPadding]="7"
              (select)="onOrderBarSelect($event)">
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank load_box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank load_box2"></i> This Year</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-2">
      <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Revenue <small>(INR Lacs)</small></p>
            <div class="chartBar" #containerRef5>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && revenueBar.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <!-- <ngx-charts-line-chart
              [view]="[containerRef5.offsetWidth, 210]"
              [scheme]="lineColorScheme"
              [results]="revenueLineBar"
              [xAxis]="showXAxis"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showYAxisLabelLine"
              [gradient]="true"
              [showYAxisLabel]="showYAxisLabelLine"
              [xAxisLabel]="xAxisLabelLine"
              [yAxisLabel]="yAxisLabelLine">
            </ngx-charts-line-chart> -->
            <ngx-charts-bar-vertical-2d
              [view]="[containerRef5.offsetWidth, 190]"
              [scheme]="lineColorScheme"
              [results]="revenueBar"
              [xAxis]="showXAxis"
              [gradient]="true"
              [yAxis]="showYAxis"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxisLabel]="xAxisLabelLine"
              [yAxisLabel]="yAxisLabelLine"
              [barPadding]="5"
              (select)="onSelect($event)"
              [groupPadding]="7"
              (select)="onRevenueBarSelect($event)">
              
            </ngx-charts-bar-vertical-2d>
            </div>
            <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank l_box1"></i> Last Year</li>
              <li><i class="mdi mdi-checkbox-blank l_box2"></i> This Year</li>
            </ul>
                             
          </div>
        </div>
      </div>
      <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Revenue Segment <small>(INR)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef6>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && revenueSegmentData.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <ngx-charts-pie-chart
              [view]="[containerRef6.offsetWidth - 35, 220]"
              [scheme]="lineColorScheme"
              [labels]="showLabelsPie"
              [gradient]="true"
              [doughnut]="true"
              [legend]="true"
              [results]="revenueSegmentData"
              (select)="onRevenueSegSelect($event)">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2 mb-2">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Tickets</p>
            
            <div class="table-responsive ht-auto">
              <table class="table table-hover table-striped">
                <thead class="table-primary text-nowrap">
                  <tr>
                      <th>Status</th>
                      <th>Low</th>
                      <th>Medium</th>
                      <th>High</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let summary of ticketSummary">
                      <td>WIP</td>
                      <td>{{ summary.wipStatusLowPriority }}</td>
                      <td>{{ summary.wipStatusMediumPriority }}</td>
                      <td>{{ summary.wipStatusHighPriority }}</td>
                  </tr>
                  <tr *ngFor="let summary of ticketSummary">
                      <td>Closed</td>
                      <td>{{ summary.closedStatusLowPriority }}</td>
                      <td>{{ summary.closedStatusMediumPriority }}</td>
                      <td>{{ summary.closedStatusHighPriority }}</td>
                  </tr>
                  <tr *ngFor="let summary of ticketSummary">
                      <td>Pending</td>
                      <td>{{ summary.pendingStatusLowPriority }}</td>
                      <td>{{ summary.pendingStatusMediumPriority }}</td>
                      <td>{{ summary.pendingStatusHighPriority }}</td>
                  </tr>
                  <tr class="table-footer fw-bold" *ngFor="let summary of ticketSummary">
                    <td>Total</td>
                    <td>{{ summary.pendingStatusLowPriority + summary.wipStatusLowPriority + summary.closedStatusLowPriority }}</td>
                    <td>{{ summary.pendingStatusMediumPriority + summary.wipStatusMediumPriority + summary.closedStatusMediumPriority }}</td>
                    <td>{{ summary.pendingStatusHighPriority + summary.wipStatusHighPriority + summary.closedStatusHighPriority }}</td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <div *ngIf="loading" class="text-center">
              <div class="spinner-border"> </div>
            </div>
            <div *ngIf="!loading && ticketSummary.length === 0" class="text-center">
              <p class="text-warning">Looks like no data available!</p>
            </div>              
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Tickets <small>(Segment)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef9>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && ticketPieChart.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <ngx-charts-pie-chart
              [view]="[containerRef9.offsetWidth - 35, 180]"
              [scheme]="pieColorsSegment"
              [gradient]="true"
              [legend]="true"
              [results]="ticketPieChart"
              (select)="onTicketPieSelect($event)">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Tickets <small>(Status)</small></p>
            <!-- <div id="cash-deposits-chart-legend" class="d-flex justify-content-center pt-3"></div> -->
            <!-- <canvas id="cash-deposits-chart"></canvas> -->
            <div class="chartBar" #containerRef10>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <div *ngIf="!loading && ticketStatusData.length === 0" class="text-center">
                <p class="text-warning">Looks like no data available!</p>
              </div>
              <ngx-charts-pie-chart
              [view]="[containerRef10.offsetWidth - 40, 180]"
              [scheme]="pieColorsType"
              [gradient]="true"
              [legend]="true"
              [doughnut]="true"
              [results]="ticketStatusData"
              (select)="onTicketStatus($event)">
            </ngx-charts-pie-chart>
            </div>
            <!-- <ul class="cust-legend">
              <li><i class="mdi mdi-checkbox-blank piebox1"></i> Complete</li>
              <li><i class="mdi mdi-checkbox-blank piebox2"></i> Under Process</li>
              <li><i class="mdi mdi-checkbox-blank piebox3"></i> Pending</li>
            </ul> -->
            
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row g-2 mb-2">
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Alert & Alarms <small>(Segment)</small></p>
            <div class="chartBar" #containerRef11>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <ngx-charts-pie-chart
              [view]="[containerRef11.offsetWidth - 35, 180]"
              [scheme]="pieColorsSegment"
              [gradient]="true"
              [legend]="true"
              [results]="pieDataSegment">
            </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title">Alert & Alarms <small>(Status)</small></p>
            <div class="chartBar" #containerRef12>
              <div *ngIf="loading" class="text-center">
                <div class="spinner-border"> </div>
              </div>
              <ngx-charts-pie-chart
              [view]="[containerRef12.offsetWidth - 40, 180]"
              [scheme]="pieColorsType"
              [gradient]="true"
              [legend]="true"
              [doughnut]="true"
              [results]="pieDataType">
            </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <p class="card-title mb-2">Alert & Alarms</p>
            <div *ngIf="loading" class="text-center">
              <div class="spinner-border"> </div>
            </div>
            <div class="table-responsive ht-auto">
              <table class="table table-hover table-striped">
                <thead class="table-primary text-nowrap">
                  <tr>
                      <th>Status</th>
                      <th>Critical</th>
                      <th>Major</th>
                      <th>Minor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Open</td>
                      <td>410</td>
                      <td>110</td>
                      <td>300</td>
                  </tr>
                  <tr>
                      <td>Close</td>
                      <td>520</td>
                      <td>30</td>
                      <td>490</td>
                  </tr>
                  <tr>
                      <td>Pending</td>
                      <td>522</td>
                      <td>222</td>
                      <td>300</td>
                  </tr>
                  <tr class="table-footer fw-bold">
                      <td>Total</td>
                      <td>5020</td>
                      <td>2020</td>
                      <td>3000</td>
                  </tr>
                </tbody>
              </table>
            </div>
                             
          </div>
        </div>
      </div>
    </div> -->
  
  
    <!-- <div class="row">
      <div class="col-lg-12 my-2">
        <small class="text-secondary">
          <b>Note:- All amount values in INR Lacs.</b>
        </small>
      </div>
    </div> -->
  </div>