.banner-sec .banner {
    width: 100vw;
    object-fit: cover;
    height: 90px;
  }
  
  .banner-text {
    position: absolute;
  }
  
  .cust-legend {
    padding-left: 0;
    text-align: center;
    margin-bottom: 0;
    font-size: 0.75rem;
  }
  
  .cust-legend li {
    display: inline-flex;
    align-items: center;
    list-style: none;
    padding-right: 1rem;
  }
  
  .cust-legend li:last-child {
    padding-right: 0rem;
  }
  
  .cust-legend li .box1,
  .cust-legend li .box2 {
    font-size: 16px;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .box1 {
    color: #6093E8;
  }
  
  .cust-legend li .box2 {
    color: #315CA4;
  }
  
  .cust-legend li .l_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #315CA4;
  }
  
  .cust-legend li .l_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #FFA333;
  }
  
  .cust-legend li .o_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #7CC9FF;
  }
  
  .cust-legend li .o_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #1F6799;
  }
  
  .cust-legend li .load_box1 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #cf97ef;
  }
  
  .cust-legend li .load_box2 {
    font-size: 16px;
    padding-right: 0.5rem;
    color: #7F5398;
  }
  
  .cust-legend li .piebox1 {
    font-size: 16px;
    color: #6093E8;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .piebox2 {
    font-size: 16px;
    color: #cf97ef;
    padding-right: 0.5rem;
  }
  
  .cust-legend li .piebox3 {
    font-size: 16px;
    color: #FFB761;
    padding-right: 0.5rem;
  }
  
  .ht-auto {
    min-height: auto;
  }
  
  .form-group label {
    font-size: 0.8rem;
    line-height: 0;
    vertical-align: top;
    margin-bottom: 0;
  }
  
  .t-1 {
    background: rgb(49,92,164);
    background: linear-gradient(90deg, rgba(49,92,164,1) 0%, rgba(120,170,255,1) 50%, rgba(180,208,255,0.9640231092436975) 100%);
  }
  
  .t-2 {
    background: rgb(153,104,181);
    background: linear-gradient(18deg, rgba(153,104,181,1) 0%, rgba(180,127,210,1) 50%, rgba(207,151,239,1) 100%);
  }
  
  .t-3 {
    background: rgb(240,131,78);
    background: linear-gradient(18deg, #FFA333 0%, #FFB761 50%, #FFCC8F 100%);
  }
  
  .t-4{
    background: rgb(86,186,255);
    background: linear-gradient(18deg, rgba(86,186,255,1) 0%, rgba(124,201,255,1) 50%, rgba(162,217,255,1) 100%);
  }
  
  .t-heading {
    background: #0000002b;
    font-size: 0.85rem;
    font-weight: 500;
  }
  
  ul.legend-labels {
    width: auto !important;
  }
  
  .label-under-border {
    position: absolute;
      top: -8px;
      left: 7px;
      padding: 2px 5px;
      z-index: 1;
      /* background: #7dbaf4; */
  }
  .text-sm {
    font-size: 14px;
  }
  .carousel-indicators{
    margin-bottom: 0.5rem;
    /* background-color: rgba(40, 36, 36, 0.2);
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    margin-right: 45%;
    border-radius: 20px; */
  }
  .carousel-indicators li{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    /* background-color: transparent;
    border: 2.5px solid #ffffff; */
  }
  .indicator-bg{
    background-color: rgba(40, 36, 36, 0.2);
  }
  .tile-box{
    cursor: pointer;
    /* transition: transform 0.4s; */
  }
  
  .tile-box:hover{
    transition: transform 0.4s;
    /* transform: scale(1.05);
    overflow: hidden;
    z-index: 99; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: none !important;
  }
  .stretch-card > .tile-box{
    box-shadow: none ;
    transition: none;
    border: none !important;
  }
  
  .tile-main:hover{
    border: 1px solid #BDBDBD;
  }
  @media (max-width: 575.98px) {
    .carousel-indicators{
      margin-bottom: 0.2rem;
    }
    .carousel-indicators li{
      width: 5px;
      height: 5px;
    }
    .banner {
      width: 100%;
      min-height: 80px !important;
    }
  }
  
  ::ng-deep ngx-charts-legend-entry {
    pointer-events: none; /* Disable pointer events */
  }