<!-- partial:partials/_footer.html -->
<footer class="footer" style="background-color: #a569bd;">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-light text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024. All rights reserved.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center text-light">Powered By:Augmented Transformation <i
                class="mdi mdi-star text-warning"></i></span>
    </div>
</footer>
<!-- partial -->